*{
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing:1px;

}

h2{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;

}
#forgot{
    color: rgb(77, 75, 75);
}
#signup{
    color: darkgrey
}

#userquestion,#passquestion
{
    width: 80%;

    margin-left: 100px;
}   
.container{
    border: 10px solid;
    border-image: linear-gradient(to right, #21BFE2,#9C55F3 ,#DB1DFA ) 30;
    width: 600px;
    height: 600px;
    margin: auto;
}
#username,
#password{
    width: 400px;
    height: 55px;
    margin-left: 100px;
    border-radius: 10px;
}
#fbutton{
    width: 200px;
    height: 70px;
    margin-left: 100px ;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
    color: white;
    background-color: rgb(66,103,178);
    font-size: 20px;
    border-radius: 10px;
}
#gbutton{
    width: 200px;
    height: 70px;
    margin-right: 70px ;
    color:darkgrey;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
}
#sbutton{
    width: 400px;
    height: 55px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 10px;
    font-size: 20px;
}
.footer{
    text-align: center;
    margin-top:  60px;
    color: darkgrey;
}